.footer {
  display: flex;
  height: 18px;
  margin: 0 auto;
  text-align: left;
  color: #545454;
  padding: 50px 0 20px 0;
}

.footer__copyright {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  width: 100%;
  margin: 0 auto;
  /* padding-left: 100px; */
}
