.header {
  margin-top: 45px;
  /* margin-bottom: 40px; */
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid; /* Specify border-style as solid */
  border-bottom-color: rgb(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 480px) {
  .header {
    top: 28px;
    height: 24px;
    width: 100%;
  }

  .header__logo {
    padding-left: 27px;
    width: 126px;
    height: 24px;
  }
}
